@font-face {
    font-family: 'Graphik Web';
    src: url('GraphikWeb-RegularItalic.woff2') format('woff2'),
        url('GraphikWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('GraphikWeb-Regular.woff2') format('woff2'),
        url('GraphikWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('GraphikWeb-Black.woff2') format('woff2'),
        url('GraphikWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Web';
    src: url('GraphikWeb-Bold.woff2') format('woff2'),
        url('GraphikWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

